body {
    /*background-color: #ebebeb;*/
    margin-top: 60px;
    font-family: 'Raleway', sans-serif;
}

label {
    color: black;
    font-size: 13px;
}

input[type="button"]:focus{
    outline: none;
}

.headertext{
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 1px 2px #b4b4b4;
}

.stylebutton{
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
}

.navbar {
    height: 100px;
    padding: 10px;
    border: 0px;
    border-top: 3px solid #e74c3c;
    /*
    background-image: -ms-linear-gradient(bottom, #FCFCFC 20%, #F7F7F7 100%);
    background-image: -moz-linear-gradient(bottom, #FCFCFC 20%, #F7F7F7 100%);
    background-image: -o-linear-gradient(bottom, #FCFCFC 20%, #F7F7F7 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20, #FCFCFC), color-stop(100, #F7F7F7));   
    background-image: -webkit-linear-gradient(bottom, #FCFCFC 20%, #F7F7F7 100%);    
    background-image: linear-gradient(to top, #FCFCFC 20%, #F7F7F7 100%);
    background-attachment: fixed;
    background-color: #f5f5f5;*/
    text-align: center;
}

.navbar-center{
    text-align: center;
}

.headerbar{
    height: 65px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 3px 0px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    border-top: 3px solid #e74c3c;
    border-bottom: 1px solid #e1e1e1;    
    /* IE10+ */
    background-image: -ms-linear-gradient(bottom, #f0f0f0 10%, #f5f5f5 70%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom, #f0f0f0 10%, #f5f5f5 70%);
    /* Opera */
    background-image: -o-linear-gradient(bottom, #f0f0f0 10%, #f5f5f5 70%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(10, #f0f0f0), color-stop(70, #f5f5f5));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom, #f0f0f0 10%, #f5f5f5 70%);
    /* W3C Markup */
    background-image: linear-gradient(to top, #f0f0f0 10%, #f5f5f5 70%);
    background-attachment: fixed;
    text-align: center;
}

.footer 
{
    background-color: white;
    text-align: center;
    vertical-align: middle;
}

.imglogo{
    border-radius: 10%;
    height: 35px;
    width: 35px;
    box-shadow: 1px 1px 2px #b4b4b4;
}

.page-header {
    padding: 0;
    border-bottom: 1px solid #bdbdbd;
    font-family: Ubuntu;
    font-size: 18px;
    color: #e74c3c;
    text-shadow: 1px 1px 2px #b4b4b4;
    /*
    background-image: -ms-linear-gradient(bottom, #f0f0f0 10%, #f5f5f5 70%);
    background-image: -moz-linear-gradient(bottom, #f0f0f0 10%, #f5f5f5 70%);
    background-image: -o-linear-gradient(bottom, #f0f0f0 10%, #f5f5f5 70%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(10, #f0f0f0), color-stop(70, #f5f5f5));
    background-image: -webkit-linear-gradient(bottom, #f0f0f0 10%, #f5f5f5 70%);
    background-image: linear-gradient(to top, #f0f0f0 10%, #f5f5f5 70%);
    background-attachment: fixed;*/
}

.inputtext {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    padding: 10px;
    outline: none;
    /* For Safari 3.0+ */
    -webkit-transition-property: border, background;
    -webkit-transition-duration: .7s, .9s;
    -webkit-animation: ease-in-out;
    /* Standard syntax */
    transition-property: border, background;
    transition-duration: .7s, .9s;
    animation: ease-in-out;
    resize: none;
}
.inputtext:focus {
    border-bottom: 2px solid #e74c3c; /* f8646e, 56caca */
    background-color: #f3f3f3;
}

.input-group-addon{
    border: 0;
    border-bottom: 2px solid #e1e1e1;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    /* Remove #eee with White when you want to display content background color as enabled */
    background-color: #f3f3f3;
}

.inputdisabled{
    border: 0;
    border-bottom: 2px solid #e1e1e1;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    /* Remove #eee with White when you want to display content background color as enabled */
    background-color: #f3f3f3;
}

.btn-custom {
    border-radius: 5px;
    border: none;
    background-color: #e74c3c;
    color: white;
    vertical-align: middle;
    width: 100%;
    outline: none;
    padding: 6px;
    /*box-shadow: 1px 1px 5px #f0030f;*/
    border-bottom: 2px solid #a7020a;
    font-weight: bold;
}

.btn-custom:hover{
    color: white;
}

.btn-custom-sm {
    border-radius: 5px;
    border: none;
    background-color: #e74c3c;
    color: white;
    vertical-align: middle;
    width: auto;
    outline: none;
    padding: 6px 10px;
    /*box-shadow: 1px 1px 5px #f0030f;*/
    border-bottom: 2px solid #a7020a;
    font-weight: bold;
}

.btn-custom-sm:hover{
    color: white;
}

.input-group-btn select {
    border-color: #ccc;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.ui-datepicker {
    font-size: 12px;
}
.ui-widget-header .ui-icon {
    background-image: url(../images/ui-icons_228ef1_256x240.png);
}
#txtDate {
    background-color: transparent;
}

#selCountryCode{
    border: none;
    background-color: transparent;
    font-family: 'Ubuntu', sans-serif;
}

::-webkit-input-placeholder {
   color: #bdbdbd;
   font-size: 12px;
}
:-moz-placeholder { /* Firefox 18- */
   color: #bdbdbd;
   font-size: 12px;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #bdbdbd;
   font-size: 12px;
}
:-ms-input-placeholder {  
   color: #bdbdbd;
   font-size: 12px;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 0px solid #ccc;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}